{
  "mcpServers": {
    "n8n-mcp": {
      "command": "npx",
      "args": [
        "-y",
        "n8n-mcp"
      ],
      "env": {
        "MCP_MODE": "stdio",
        "LOG_LEVEL": "error",
        "DISABLE_CONSOLE_OUTPUT": "true",
        "N8N_API_URL": "https://n8n-oew.buildbar.at",
        "N8N_API_KEY": "DEIN_N8N_API_KEY",
        "N8N_MCP_ACCESS_TOKEN": "DEIN_MCP_ACCESS_TOKEN"
      }
    }
  }
}
